{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    

    <div class="containers">
        <div class="firstimage">
            <img src="{% static 'images/3.png' %}" alt="Henry's Photo">
        </div>
        <div class="textcontainers">
            <h1>About Me</h1>
            <p>I'm a web designer from the Philippines, passionate about designing websites and front-end development. I am currently pursuing a Bachelor of Science in Information Technology.</p>
            <div class="details">
                <p><strong>Name:</strong> Henry Pili</p>
                <p><strong>Date of Birth:</strong> March 30, 2002</p>
                <p><strong>Address:</strong> Bacoor Cavite-Philippines</p>
                <p><strong>Sex:</strong> Male</p>
                <p><strong>Phone:</strong> +63 9667600561</p>
                
            </div>
            <a href="#" class="linkedin">https://github.com/HenryPili</a>
        </div>
    </div>
    
{% endblock %}
