{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
      <div class="containers">
        <div class="firstimage">
            <img src="{% static 'images/102.jpg' %}" alt="Henry's Photo">
        </div>
        <div class="textcontainers">
            <h1>About Us</h1>
            <p>
Welcome to our Garbage Disposal Scheduling System-your one-stop solution for efficient waste management! Our platform is designed to simplify how you schedule and manage garbage collection, ensuring cleaner neighborhoods and a sustainable environment.

With just a few clicks, you can: <br><br>

Schedule garbage pickups at your convenience. <br>
Stay informed about collection dates and times. <br>
Reduce waste-related issues through an organized approach.<br> <br>
Our mission is to promote cleanliness and environmental responsibility while offering hassle-free</p>
            <div class="details">
                
                
            </div>
            <a href="#" class="linkedin">https://github.com/HenryPili</a>
        </div>
    </div>
    
{% endblock %}
