{% extends 'app/base.html' %}

{% block content %}
<body>
    <div class="container">
        <div class="left-container">
            <h1 class="slide-in">Hi There! <br>How's your Garbage?</h1>
        </div>
        
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const slidingText = document.querySelector('.slide-in');    
            setTimeout(() => {
                slidingText.classList.add('visible'); 
            }, 500); 
        });
    </script>
</body>
{% endblock content %}
